# Common options
common --color=yes
common --show_progress
common --show_progress_rate_limit=0.5

# Build options
build --spawn_strategy=standalone
build --strategy=Genrule=standalone
build --show_timestamps
build --curses=no
build --jobs=10

# Test options
test --spawn_strategy=standalone
test --test_output=all
test --test_verbose_timeout_warnings
test --verbose_failures

# Custom user overrides
# https://docs.bazel.build/versions/master/best-practices.html#bazelrc
try-import %workspace%/.bazelrc.user
try-import %workspace%/user.bazelrc