# vi: ft=sh

PATH_add bin

[[ -n $(command -V brew) ]] && { 
  completion="$(brew --prefix)/etc/bash_completion"
  [[ -f "${completion}" ]] && {
    echo "Loading bash completion"
    source "${completion}"
  }
}

