# vi: ft=bash

PATH_add bin

[[ -n $(command -V brew) ]] && { 
  completion="$(brew --prefix)/etc/bash_completion"
  [[ -f "${completion}" ]] && {
    source "${completion}"
  }
}

if [[ -f .ruby-version && -n $(command -v rbenv) ]] ; then
  eval "$(rbenv init -)"
  rbenv local "$(cat .ruby-version)"
  echo "Ruby Version has been set to: $(ruby --version)"
fi

export BAZEL_USE_CPP_ONLY_TOOLCHAIN=1

