build  --verbose_failures --spawn_strategy=standalone --strategy=Genrule=standalone
test --spawn_strategy=standalone
common --color=yes
test --verbose_failures --test_output=errors --test_verbose_timeout_warnings
